<nav class="navbar navbar-expand-lg bg-white">
  <span class="navbar-brand logo" >VsmDevCase</span>
  <button class="navbar-toggler text-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/admin">
          <i class="fas fa-home"></i> Home
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clientes">
          <i class="fas fa-users"></i> Clientes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/compras">
          <i class="fas fa-cash-register"></i> Compras
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/admin" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-cogs"></i> Configurações
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/admin">
              <i class="fas fa-user-circle"></i> Profile
          </a>
          <a class="dropdown-item" href="/admin">
              <i class="fas fa-lock"></i> Senha
          </a>
          <div class="dropdown-divider"></div>
          
          <button type="button" class="dropdown-item" (click)="logOut()">
              Sair <i class="fas fa-sign-out-alt"></i>
          </button>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
