<div class="container">
    <app-menu></app-menu>
    <hr class="my-4">
    <div class="row">
        <div class="col-md-6 my-2">
            <h5 class="text-center logo">Cadastrar Cliente</h5>
            <br class="my-4">
            <app-customer-form></app-customer-form>
        </div>
        <div class="col-md-6 my-2">
            <h5 class="text-center logo"> Lista de Clientes </h5>
            <br class="my-4">
            <app-customer-list></app-customer-list>
        </div>
    </div>
</div>